@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .prose {
    @apply text-gray-950 leading-relaxed; /* Warna teks dasar dan spasi antar baris */
  }

  .prose h1 {
    @apply text-3xl font-bold; /* Ukuran dan warna untuk h1 */
  }

  .prose h2 {
    @apply text-2xl font-semibold; /* Ukuran dan warna untuk h2 */
  }

  .prose p {
    @apply mb-4; /* Menambahkan margin bawah pada paragraf */
  }

  .prose ul {
    @apply list-disc pl-6; /* Bullet list dengan indentasi */
  }

  .prose ol {
    @apply list-decimal pl-6; /* Numbered list dengan indentasi */
  }

  .prose li {
    @apply ml-4; /* Margin bawah untuk list item */
  }

  .prose a {
    @apply text-blue-600 underline hover:text-blue-800; /* Warna link dan efek hover */
  }

  .prose blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-700; /* Styling untuk blockquote */
  }

  .prose .ql-align-center {
    @apply text-center; /* Align center */
  }

  .prose .ql-align-right {
    @apply text-right; /* Align right */
  }

  .prose .ql-align-justify {
    @apply text-justify; /* Align justify */
  }

  .prose code {
    @apply bg-gray-200 text-gray-800 px-1 py-0.5 rounded-md; /* Styling untuk code */
  }

  .prose pre {
    @apply bg-gray-200 rounded-md p-4; /* Styling untuk code block */
  }

  .prose .ql-indent-1 {
    @apply indent-9; /* Margin bawah untuk list item */
  }
}

@font-face {
  font-family: 'SantaCatalina';
  src: url('./fonts/Santa-Catalina.otf') format('opentype'); /* Path absolut */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('./fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('./fonts/Dosis-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
